/* 1.---------------------------------------------
                Template default css
------------------------------------------------*/

@font-face {
    font-family: mazzardh-black;
    src: url(../fontfamily/MazzardH-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: mazzardh-extrabold;
    src: url(../fontfamily/MazzardH-ExtraBold.otf);
    font-weight: 800;
}

@font-face {
    font-family: mazzardh-bold;
    src: url(../fontfamily/MazzardH-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: mazzardh-regular;
    src: url(../fontfamily/MazzardH-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: mazzardh-extralight;
    src: url(../fontfamily/MazzardH-ExtraLight.otf);
    font-weight: 200;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'mazzardh-regular', sans-serif;
    color: #000000;
    overflow-x: hidden;
}

img {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: 0;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-family: 'mazzardh-regular', sans-serif;
    color: #000000;
}

@media screen and (max-width:767px) {
    p {
        font-size: 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-family: 'mazzardh-bold', sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 49px;
    text-align: center;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 25px;
    }
}


a:focus,
.button:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}

.overflow_x {
    overflow-x: hidden;
}


/* 2.-------------------------------------------
                    Heder Section
-----------------------------------------------*/

header {
    padding: 10px 0;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999999;
    background: #fff;
}

.main_menu {
    padding: 15px 0;
}

.menu_fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 0 100px 10px rgb(34 34 34 / 6%);
}

.navbar-toggler {
    border: 1px solid #000;
}

.navbar-brand img {
    max-width: 190px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: #000;
    margin: 5px 25px;
    padding: 0;
    font-family: 'mazzardh-regular', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -os-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #dd3700;
}

.button .btn {
    font-size: 16px;
    background: #000;
    color: #fff;
    font-family: 'mazzardh-bold', sans-serif;
    padding: 25px 32px;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -os-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.button .btn:hover {
    background: #fff;
    color: #000;
}

header .button .btn {
    color: #000;
    background: #fff;
}

header .button .btn:hover {
    background: #000;
    color: #fff;
}

@media screen and (max-width:1199px) {

    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
        margin: 5px 15px;
    }

    .button .btn {
        font-size: 16px;
        padding: 15px 25px;
    }
}

@media screen and (max-width:991px) {

    header .button .btn {
        margin-top: 15px;
    }
}

@media screen and (max-width:767px) {

    .navbar-brand img {
        width: 170px;
    }

}

@media screen and (min-width:575px) and (max-width:1199px) {}

/* 3.-------------------------------------------
                    Banner Section
-----------------------------------------------*/

#banner_section {
    margin-top: 115px;
}

.banner_text h4 {
    font-size: 16px;
    color: #de3700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner_text h1 {
    padding: 10px 0 20px;
}

.banner_text p {
    padding-bottom: 25px;
}


@media screen and (max-width:767px) {
    #banner_section {
        margin-top: 80px;
    }
}

/* 4.-------------------------------------------
                    About Section
-----------------------------------------------*/



@media screen and (max-width:767px) {
    .banner_text h4 {
        font-size: 16px;
    }

    .banner_text h1 {
        font-size: 32px;
    }
}

/* 5.-------------------------------------------
                    Efficiency Section
-----------------------------------------------*/

#efficiency_section {
    padding-top: 120px;
    padding-bottom: 120px;
}

#efficiency_section h2 {
    padding-bottom: 100px;
}

.efficiency_item {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 30px;
}

.efficiency_item h3 {
    font-size: 20px;
}

.many_more a {
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    color: #000;
    text-transform: uppercase;
}

@media screen and (max-width:991px) {
    .efficiency_item {
        padding: 0;
    }

    .efficiency_item h3 {
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {
    #efficiency_section {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    #efficiency_section h2 {
        padding-bottom: 70px;
    }

    .efficiency_item {
        padding: 0 30px;
        margin-bottom: 0;
    }

    .many_more a {
        font-size: 16px;
        margin-top: 40px;
    }
}
@media screen and (max-width:575px) {
    .efficiency_item h3 {
        font-size: 14px;
    }
}

/* 6.-------------------------------------------
                    Business Section
-----------------------------------------------*/

#business_section {
    /*    background: #fff8e8;*/
    padding: 100px 0;
    position: relative;
}

.earth {}

.earth #lottie_2 {
    position: absolute;
    height: 600px;
    width: 520px;
    right: 0;
    bottom: 0;
}

#business_section .container {
    z-index: 999999;
}

#business_section .black_shape img {
    left: 130px;
    max-width: 200px;
}

.business_text h2 {
    padding-bottom: 20px;
}

.business_item {
    padding-top: 35px;
    padding-left: 20px;
}

.business_item h2 {
    font-size: 35px;
    text-align: left;
    padding: 10px 0;
    position: relative;
}

.business_item h2:after {
    position: absolute;
    content: '';
    background: #000;
    width: 5px;
    top: 7px;
    bottom: 5px;
    left: -20px;
}

.business_item p {
    color: #98948b;
    font-size: 18px;
}

@media screen and (max-width:767px) {
    #business_section {
        padding: 60px 0;
    }

    .business_item h2 {
        font-size: 21px;
    }

    .business_item p {
        font-size: 16px;
    }
}

/* 7.-------------------------------------------
                    Help Section
-----------------------------------------------*/

#help_section {
    padding: 120px 0 170px;
}

#help_section .help_img {
    position: relative;
}

#help_section .shape img {
    position: absolute;
    bottom: -60px;
    right: 100px;
    box-shadow: 0px 25px 45px 0px rgba(22, 52, 61, 0.15);
    border-radius: 10px;
}

#help_section .black_round img {
    position: absolute;
    bottom: -40px;
    right: -40px;
    z-index: -1;
    width: 80px;
}

.help_text {
    padding: 100px 40px 0;
}

.help_text p {
    padding-top: 30px;
    color: #98948b;
}

@media screen and (max-width:1199px) {
    .help_text {
        padding-top: 0;
        padding-right: 10px;
    }

    .help_text p {
        font-size: 18px;
    }
}

@media screen and (max-width:991px) {
    #help_section {
        padding: 80px 0;
    }

    .help_text {
        margin-top: 90px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width:575px) {
    #help_section {
        overflow: hidden;
    }

    #help_section .shape img {
        max-width: 200px;
    }

}

/* 8.-------------------------------------------
                    Access Section
-----------------------------------------------*/

#access_section {
    padding-bottom: 150px;
}

.access_text {
    padding-right: 100px;
}

.access_text .access_icon img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 0px 25px 45px 0px rgba(22, 52, 61, 0.15);
    margin-bottom: 20px;
}

.access_text p {
    padding-top: 30px;
}

.access_img {
    position: relative;
}


.access_img .account_created img {
    position: absolute;
    top: 100px;
    left: -70px;
    border-radius: 10px;
    box-shadow: 0px 25px 45px 0px rgba(22, 52, 61, 0.15);
}

.access_img .sign_up img {
    position: absolute;
    bottom: -40px;
    right: 50px;
    border-radius: 10px;
    box-shadow: 0px 25px 45px 0px rgba(22, 52, 61, 0.15);
}

.access_img .black_round img {
    position: absolute;
    max-width: 80px;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}


@media screen and (max-width:1199px) {
    .access_text {
        padding-left: 20px;
        padding-right: 25px;
    }

    .access_text p {
        font-size: 18px;
    }
}

@media screen and (max-width:991px) {
    #access_section {
        padding-bottom: 60px;
    }

    .access_text {
        margin-top: 80px;
    }

    .access_img .account_created img {
        left: 30px;
    }
}

@media screen and (max-width:575px) {
    .access_img .account_created img {
        width: 150px;
    }

    .access_img .sign_up img {
        right: 20px;
        width: 200px;
    }

    .access_text .access_icon img {
        width: 50px;
        height: 50px;
    }
}


/* 9.-------------------------------------------
                    Clients Section
-----------------------------------------------*/

#clients_section {
    padding: 100px 0;
    background: #fef7f3;
}

#clients_section .clients_text h2 {
    font-size: 30px;
}

#clients_section .slick-initialized .slick-slide {
    text-align: -webkit-center;
}

#clients_section .clients_logo img {
    max-height: 40px;
}

@media screen and (max-width:991px) {
    #clients_section .clients_text h2 {
        padding-bottom: 40px;
    }
}


/* 9.-------------------------------------------
                    Signup Section
-----------------------------------------------*/

#signup_section {
    padding: 120px 0;
    background: #fff8e8;
    position: relative;
}

.black_shape img {
    position: absolute;
    top: -65px;
    right: 300px;
    max-width: 250px;
}

.shape {
    position: relative;
}

.sign_shape_1 {
    position: absolute;
    right: 100px;
    top: 0;
}

.sign_shape_2 {
    position: absolute;
    left: 100px;
    bottom: -200px;
}

.signup_text p {
    padding-top: 20px;
}

@media screen and (max-width:991px) {

    #signup_section {
        padding: 70px 0;
    }

    .black_shape img {
        top: -35px;
        max-width: 150px !important;
    }

    .signup_text p {
        font-size: 16px;
    }
}

@media screen and (max-width:767px) {

    .sign_shape_1 {
        right: 50px;
    }
}

@media screen and (max-width:575px) {

    .black_shape img {
        display: none !important;
    }
}


/*-------------------------------------------
                    Video Section Start
-----------------------------------------------*/



#video_section {
    margin: 100px 0;
}

@media screen and (max-width:767px) {
    #video_section {
        margin: 50px 0;
    }
}

/*-------------------------------------------
                    Video Section End
-----------------------------------------------*/



/* 9.-------------------------------------------
                    Footer Section
-----------------------------------------------*/


footer {
    padding: 30px 0;
    background: #000;
}

.footer_logo img {
    max-width: 250px;
}

.footer_menu ul li {
    display: inline-block;
}

.footer_menu ul li a {
    color: #adadad;
    font-size: 18px;
    padding: 0 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -os-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.footer_menu ul li a:hover {
    color: #fff;
}

.footer_logo ul li {
    display: inline-block;
}

.footer_logo ul li a {
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -os-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.footer_logo ul li a:hover {
    color: #adadad;
}

.copy_right p {
    font-size: 16px;
}

@media screen and (max-width:991px) {
    .footer_logo img {
        max-width: 150px;
    }

    .footer_menu ul li a {
        font-size: 15px;
        padding: 0 10px;
    }

    .footer_logo ul li a {
        font-size: 16px;
        padding: 0 10px;
    }

    .copy_right p {
        font-size: 15px;
    }
}



/* 10.-------------------------------------------
                    How It Works Page
-----------------------------------------------*/

.how_works {
    margin-top: 115px;
}

h2.numbering {
    color: #bfbfbf;
    text-align: left;
    margin-bottom: 15px;
}

.how_works .access_text {
    padding-top: 50px;
}

.how_works_2 {
    margin-top: 30px;
}

.how_works_2 .access_text {
    padding-right: 0;
    padding-left: 30px;
}

.how_works_2 .access_img .blank_chart img {
    box-shadow: 0px 25px 45px 0px rgba(22, 52, 61, 0.15);
    position: absolute;
    left: 100px;
    bottom: -120px;
    border-radius: 10px;
}

.how_works_2 .access_img .black_round img {
    right: -40px;
    bottom: -40px;
    left: inherit;
}

.how_works_2 .john_doe img {
    position: absolute;
    top: 17%;
    right: 5px;
    box-shadow: 0px 25px 45px 0px rgb(22 52 61 / 15%);
}

.how_works_3 {
    margin-top: 0;
}

.how_works_3 .john_doe_green img {
    position: absolute;
    left: -100px;
    top: 80px;
}

@media screen and (max-width:1199px) {
    .how_works_3 .john_doe_green img {
        left: -65px;
        max-width: 400px;
    }
}

@media screen and (max-width:991px) {
    .how_works {
        margin-top: 90px;
    }

    .how_works .access_text {
        padding-top: 0;
    }

    .how_works_2 {
        margin-top: 0;
    }

    .how_works_2 .john_doe img {
        right: 20px;
    }

    .how_works_2 .access_text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .how_works_3 .john_doe_green img {
        left: 25px;
        max-width: 300px;
    }

}

@media screen and (max-width:767px) {

    .how_works_2 .access_text {
        margin-top: 20px;
    }
}

@media screen and (max-width:575px) {

    .how_works_2 .john_doe img {
        width: 100px;
    }

    .how_works_3 .john_doe_green img {
        max-width: 200px;
        left: 10px;
    }
}



/*-----Keframe----*/

.tb_animation {
    position: relative;
    animation-name: tb_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes tb_animation {
    0% {
        top: 0;
    }

    50% {
        top: 30px;
    }

    100% {
        top: 0;
    }
}

.zoom-in-out {
    animation: zoom-in-out 2s forwards;
    animation-iteration-count: infinite;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}